<ion-view view-title="Listing Details">
	<ion-content>
		<div class="list">
			<label class="item item-input item-stacked-label">
				<span class="input-label">Your name</span>
				<input type="name" placeholder="" ng-model="listingFormData.user">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Email Id</span>
				<input type="email" placeholder="somebody@somewhere.com" ng-model="listingFormData.email">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Location</span>
				<input type="text" placeholder="someplace near someplace" ng-model="listingFormData.location">
			</label>
			<label class="item item-input item-stacked-label">
				<span class="input-label">Price</span>
				<input type="number" min="0" step="1" placeholder="Set Your Price" ng-model="listingFormData.price">
			</label>
			<li class="item item-toggle">
				Negotiable?
				<label class="toggle toggle-assertive">
					<input type="checkbox" ng-model="listingFormData.negotiable">
					<div class="track">
						<div class="handle"></div>
					</div>
				</label>
			</li>
		</div>
		<button class="button button-block button-positive" ng-click="viewNewListing()">
			Next
		</button>
	</ion-content>
</ion-view>